/* CLEAN CSS */

.sidebar-right {
    /* display: grid;
    grid-template-rows: auto auto auto; */
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.show-preset-button {
    align-self: flex-end;
}

/* NOT CLEAN */