

/* CLEAN AND OK UNIVERSAL CSS: */

body {
  overflow-y: hidden;
}

.standard-button img {
  object-fit: contain;
}

.main-content {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  /* display: flex;
  top: 42px; */
}

.navbar {
  box-shadow: 1px 2px 14px -10px rgba(0,0,0,0.75);
  z-index: 1000;
  height: 42px;
}

.highlight {
  color: blue;
  font-weight: 800;
}


/* NOT CLEAN AND OK CSS: */


/* .create-task-btn img, 
.dropdown-toggle img {
    height: 70%;
    object-fit: contain;
    transition: opacity 0.3s ease;
} */
  
.create-task-btn:hover img,
.dropdown-toggle:hover img {
    opacity: 50%;
    background: transparent;
    transform: scale(1.1);
}



.sidebar {
  /* width: 20vw; */
  min-width: 200px;
  padding: 1.5rem;
}

.edit-post-button .create-task-btn{
  width: 80%;
  height: 80%;
  background: transparent;
}

.edit-post-button .create-task-btn:hover{
  background: transparent !important;
}

.edit-post-button .create-task-btn img {
  height: 52%;
  background: transparent !important;
}

.edit-post-button .create-task-btn img:hover {
  background: transparent !important;
}

.edit-post-button img {
    width: 68%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in;
}

.edit-post-button img:hover {
    width: 68%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.2);
    transition: transform 0.2s ease-out;
}

.create-activity {
  width: calc(100% - 15px);
  padding: 20px 40px 30px 40px;
  box-shadow: 1px 2px 14px -10px rgba(0, 0, 0, 0.75);
}

.activity-filter-panel {
  width: calc(100% - 15px);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 10px 0;
}

.activity-filter-panel .item {
  flex: 1;
  display: flex;
  justify-content: center;
}

.activity-filter-panel .form-control {
  width: 200px;
}

.activity-filter-panel .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-view {
  opacity: 50%;
}

.activity-filter-panel .form-control {
  width: 350px;
}