/* CLEAN CSS */
.activityfeed {
    position: relative;
    display: flex;
    width: 60vw;
    flex-direction: column;
    padding: 16px 5px 0 5px;
}


/*CLEAN CSS*/

.event-wrapper {
    display: contents;
    transition: height 0.8s ease-in-out;
}


/* .activityfeed {
  width: 60vw;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */

.activity-list {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 0;
    gap: 0.5rem;
    height: calc(100vh - 220px);
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #fefefe;
}

/* .event-item-btns {
    display: flex;
    justify-self: flex-end;
} */

/* .dates {
    display: flex;
    font-size: x-small;
} */

.create-event .head {
    display: flex;
}


/* NOT CLEAN CSS */

/* .activity-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-shadow: 1px 2px 14px -10px rgba(0,0,0,0.75);
} */



/* .event-item-head, */


/* .activity-item p {
margin-left: 20px;
padding-top: 15px;
width: 100%;
font-size: large;
} */

