
.event-item {
    padding: 2px 20px;
    box-shadow: 1px 2px 14px -10px rgba(0,0,0,0.75);
}
  
.event-item:hover {
    background: #f8f9fa;
}

.event-item-head p {
    padding-top: 15px;
    width: 100%;
    font-size: large;
}
  
.event-item-head,
.event-item-btns {
    display: flex;
}
.event-item-btns {
    display: flex;
    width: 100px;
    justify-content: space-around; 
}

.dates {
    display: contents;
}

.dates p {
    font-size: 10px;
}

.event-item-body p {
    font-size: 14px;

}


.activity-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-shadow: 1px 2px 14px -10px rgba(0,0,0,0.75);
  }
  
  .activity-item:hover {
    background: #f8f9fa;
  }
  
  .activity-item p {
    margin-left: 20px;
    /*Ändra detta för att centrera text vertikalt*/
    padding-top: 15px;
    width: 100%;
    font-size: large;
  }
  