form {
    width: 100%;
}

.btn-group-btn {
    font-size: 10px;
}

.rr-picker {
    position: relative;
    padding: 11px;
    display: flex;
    gap: 0.5rem;
    background-color: #ffffff;
    z-index: 1000;
    flex-direction: column;
    border: 2px solid rgb(203, 203, 203); 
    border-radius: 8px;
    box-shadow: 1px 2px 14px -10px rgba(0,0,0,0.75);
}