.calendar-container {
    padding: 1rem 2rem;
    width: 100%;
    max-width: 100%;
    flex: 1;
}

.fc .fc-daygrid-day-number {
    text-decoration: none;
    color: #919191;
}

.fc-day-today {
    font-weight: 600;
    color: #1b1b1b;
}

.fc-col-header-cell-cushion {
    text-decoration: none;
    color: #6a6a6a;
}

.calendar-completed-checkbox {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

  