.task-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: calc(100vh - 220px);
    overflow-y: scroll;  
}

.task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem;
    box-shadow: 1px 2px 14px -10px rgba(0,0,0,0.75);
}

.task-item:hover {
    background: #e4e4e4;
}

.task-item p {
    margin-left: 1rem;
    padding-top: 1rem;
    width: 100%;
    font-size: 14px;
}

/* .task-input-group {
    display: flex;
    padding-right: 2rem;
} */

.task-input-area {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0;
    height: 35px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0.5rem;
}

.task-input-area:focus-within {
    border-color: #43bea8;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.task-input {
    all: unset;
    flex: 1;
    margin: 0.5rem;
}

.task-input:focus {
    box-shadow: none;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: contents !important;
}


.create-task-btn,
.dropdown-toggle {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    flex: 1;
    height: 100%;
    padding: 0;
}

.create-task-btn:hover,
.dropdown-toggle:hover {
    background: transparent;
}

.create-task-btn img, 
.dropdown-toggle img {
    height: 70%;
    object-fit: contain;
    transition: opacity 0.3s ease;
}
  
.create-task-btn:hover img,
.dropdown-toggle:hover img {
    opacity: 50%;
    background: transparent;
    transform: scale(1.1);
}

.dropdown-toggle::after {
    display: none;
}

.active-deadline {
    background-color: aqua;
    /*Byt bild? Byt färg?*/
}