
/* 
.task-list {
    background-color: #cecece;
    padding: 1.5rem;
    border-top: 1px solid rgb(71, 71, 71);
} */


.task-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: 100%;
    /* background-color: #e4e4e4; */
    height: calc(100vh - 320px);
    overflow-y: auto;  
}

.task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem;
    /* margin: 0; */
    box-shadow: 1px 2px 14px -10px rgba(0,0,0,0.75);
}

.task-item:hover {
    background: #e4e4e4;
}

.task-item p {
    margin-left: 1rem;
    padding-top: 1rem;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
}

.task-item .form-check-input {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.69);
}

.task-item .form-check-input:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.90);
    cursor: pointer
}

.task-input-area {
    display: grid;
    grid-template-columns: auto 40px 40px;
    align-content: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0;
    height: 35px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0.5rem;
}

.task-input-area 

.task-input-area:focus-within {
    /* border-color: #007bff; */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.35);
}

.task-input {
    all: unset;
    flex: 1;
    margin: 0.5rem;
}

.task-input:focus {
    box-shadow: none;
}

.react-datepicker-wrapper {
    display: inline-block;
    position: relative;
    height: 100%;
    width: auto;
    margin-right: 5px;
}

.react-datepicker__input-container {
    display: contents !important;
}

.create-task-btn,
.dropdown-toggle {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    flex: 1;
    height: 100%;
    padding: 0;
}

.create-task-btn:hover,
.dropdown-toggle:hover,
.edit-post-button,
.edit-post-button:hover {
    background: #ffffff;
}

.create-task-btn img, 
.dropdown-toggle img {
    height: 50%;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.create-task-btn:hover, 
.dropdown-toggle:hover{
    background: transparent !important;
}

.create-task-btn:hover img,
.dropdown-toggle:hover img {
    opacity: 50%;
    background: transparent !important;
    transform: scale(1.1);
}

.dropdown-toggle::after {
    display: none;
}

.active-deadline img {
    content: url('/icons/blue_skull.png');
}

.active-rrule img {
    animation: rotate-right 2s linear infinite;    
}

@keyframes rotate-right {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

/*Ny bild eller nåt?
Checkbox måste också ha rätt muspekare och så*/
.edit-post-button,
.edit-post-button:hover {
    border: none;
    height: 75%;
    background: transparent;
}

/* .rr-picker-container {
    position: relative;
} */

.rr-picker-container {
    position: absolute;
    top: 106px;
    right: 1.3rem;
    max-width: 400px;
    z-index: 10;
    background-color: #ffffff;
    border: 1px solid #ccc;
  }

  .show-completed {
    margin-bottom: 0.5rem
  }
